02-workflow-orchestration/homework/flow-homework.yaml
id: homework-week-2
namespace: zoomcamp
description: |
  Automated loop for 12 months of NYC Taxi data, uploading to GCS and merging into BigQuery.

inputs:
  - id: taxi
    type: SELECT
    displayName: Select taxi type
    values: [ yellow, green ]
    defaults: green

  - id: year
    type: SELECT
    displayName: Select year
    values: [ "2019", "2020", "2021" ]
    defaults: "2019"
    allowCustomValue: true

tasks:
  - id: loop_months
    type: io.kestra.plugin.core.flow.ForEach
    values: [ "01", "02", "03", "04", "05", "06", "07", "08", "09", "10", "11", "12" ]
    tasks:
      - id: set_label
        type: io.kestra.plugin.core.execution.Labels
        labels:
          file: "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{taskrun.value}}.csv"
          taxi: "{{inputs.taxi}}"

      - id: extract
        type: io.kestra.plugin.scripts.shell.Commands
        outputFiles:
          - "*.csv"
        taskRunner:
          type: io.kestra.plugin.core.runner.Process
        commands:
          - wget -qO- https://github.com/DataTalksClub/nyc-tlc-data/releases/download/{{inputs.taxi}}/{{inputs.taxi}}_tripdata_{{inputs.year}}-{{taskrun.value}}.csv.gz | gunzip > {{inputs.taxi}}_tripdata_{{inputs.year}}-{{taskrun.value}}.csv

      - id: upload_to_gcs
        type: io.kestra.plugin.gcp.gcs.Upload
        from: "{{outputs.extract[taskrun.value].outputFiles[inputs.taxi ~ '_tripdata_' ~ inputs.year ~ '-' ~ taskrun.value ~ '.csv']}}"
        to: "gs://{{kv('GCP_BUCKET_NAME')}}/{{inputs.taxi}}_tripdata_{{inputs.year}}-{{taskrun.value}}.csv"

      - id: if_yellow_taxi
        type: io.kestra.plugin.core.flow.If
        condition: "{{inputs.taxi == 'yellow'}}"
        then:
          - id: bq_yellow_tripdata
            type: io.kestra.plugin.gcp.bigquery.Query
            sql: |
              CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.yellow_tripdata`
              (
                  unique_row_id BYTES,
                  filename STRING,      
                  VendorID STRING,
                  tpep_pickup_datetime TIMESTAMP,
                  tpep_dropoff_datetime TIMESTAMP,
                  passenger_count INTEGER,
                  trip_distance NUMERIC,
                  RatecodeID STRING,
                  store_and_fwd_flag STRING,
                  PULocationID STRING,
                  DOLocationID STRING,
                  payment_type INTEGER,
                  fare_amount NUMERIC,
                  extra NUMERIC,
                  mta_tax NUMERIC,
                  tip_amount NUMERIC,
                  tolls_amount NUMERIC,
                  improvement_surcharge NUMERIC,
                  total_amount NUMERIC,
                  congestion_surcharge NUMERIC
              )
              PARTITION BY DATE(tpep_pickup_datetime);

          - id: bq_yellow_table_ext
            type: io.kestra.plugin.gcp.bigquery.Query
            sql: |
              CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.{{inputs.taxi}}_tripdata_{{inputs.year}}_{{parent.taskrun.value}}_ext`
              OPTIONS (
                  format = 'CSV',
                  uris = ['gs://{{kv('GCP_BUCKET_NAME')}}/{{inputs.taxi}}_tripdata_{{inputs.year}}-{{parent.taskrun.value}}.csv'],
                  skip_leading_rows = 1,
                  ignore_unknown_values = TRUE
              );

          - id: bq_yellow_table_tmp
            type: io.kestra.plugin.gcp.bigquery.Query
            sql: |
              CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.{{inputs.taxi}}_tripdata_{{inputs.year}}_{{parent.taskrun.value}}`
              AS
              SELECT
                MD5(CONCAT(
                  COALESCE(CAST(VendorID AS STRING), ""),
                  COALESCE(CAST(tpep_pickup_datetime AS STRING), ""),
                  COALESCE(CAST(tpep_dropoff_datetime AS STRING), ""),
                  COALESCE(CAST(PULocationID AS STRING), ""),
                  COALESCE(CAST(DOLocationID AS STRING), "")
                )) AS unique_row_id,
                "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{parent.taskrun.value}}.csv" AS filename,
                CAST(VendorID AS STRING) AS VendorID,
                tpep_pickup_datetime,
                tpep_dropoff_datetime,
                CAST(passenger_count AS INTEGER) AS passenger_count,
                CAST(trip_distance AS NUMERIC) AS trip_distance,
                CAST(RatecodeID AS STRING) AS RatecodeID,
                CAST(store_and_fwd_flag AS STRING) AS store_and_fwd_flag, -- ADDED CAST HERE
                CAST(PULocationID AS STRING) AS PULocationID,
                CAST(DOLocationID AS STRING) AS DOLocationID,
                payment_type,
                CAST(fare_amount AS NUMERIC) AS fare_amount,
                CAST(extra AS NUMERIC) AS extra,
                CAST(mta_tax AS NUMERIC) AS mta_tax,
                CAST(tip_amount AS NUMERIC) AS tip_amount,
                CAST(tolls_amount AS NUMERIC) AS tolls_amount,
                CAST(improvement_surcharge AS NUMERIC) AS improvement_surcharge,
                CAST(total_amount AS NUMERIC) AS total_amount,
                CAST(congestion_surcharge AS NUMERIC) AS congestion_surcharge
              FROM `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.{{inputs.taxi}}_tripdata_{{inputs.year}}_{{parent.taskrun.value}}_ext`;

          - id: bq_yellow_merge
            type: io.kestra.plugin.gcp.bigquery.Query
            sql: |
              MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.yellow_tripdata` T
              USING `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.{{inputs.taxi}}_tripdata_{{inputs.year}}_{{parent.taskrun.value}}` S
              ON T.unique_row_id = S.unique_row_id
              WHEN NOT MATCHED THEN
                INSERT (unique_row_id, filename, VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge)
                VALUES (S.unique_row_id, S.filename, S.VendorID, S.tpep_pickup_datetime, S.tpep_dropoff_datetime, S.passenger_count, S.trip_distance, S.RatecodeID, S.store_and_fwd_flag, S.PULocationID, S.DOLocationID, S.payment_type, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount, S.improvement_surcharge, S.total_amount, S.congestion_surcharge);

      - id: if_green_taxi
        type: io.kestra.plugin.core.flow.If
        condition: "{{inputs.taxi == 'green'}}"
        then:
          - id: bq_green_tripdata
            type: io.kestra.plugin.gcp.bigquery.Query
            sql: |
              CREATE TABLE IF NOT EXISTS `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.green_tripdata`
              (
                  unique_row_id BYTES,
                  filename STRING,      
                  VendorID STRING,
                  lpep_pickup_datetime TIMESTAMP,
                  lpep_dropoff_datetime TIMESTAMP,
                  store_and_fwd_flag STRING,
                  RatecodeID STRING,
                  PULocationID STRING,
                  DOLocationID STRING,
                  passenger_count INT64,
                  trip_distance NUMERIC,
                  fare_amount NUMERIC,
                  extra NUMERIC,
                  mta_tax NUMERIC,
                  tip_amount NUMERIC,
                  tolls_amount NUMERIC,
                  ehail_fee NUMERIC,
                  improvement_surcharge NUMERIC,
                  total_amount NUMERIC,
                  payment_type INTEGER,
                  trip_type STRING,
                  congestion_surcharge NUMERIC
              )
              PARTITION BY DATE(lpep_pickup_datetime);

          - id: bq_green_table_ext
            type: io.kestra.plugin.gcp.bigquery.Query
            sql: |
              CREATE OR REPLACE EXTERNAL TABLE `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.{{inputs.taxi}}_tripdata_{{inputs.year}}_{{parent.taskrun.value}}_ext`
              OPTIONS (
                  format = 'CSV',
                  uris = ['gs://{{kv('GCP_BUCKET_NAME')}}/{{inputs.taxi}}_tripdata_{{inputs.year}}-{{parent.taskrun.value}}.csv'],
                  skip_leading_rows = 1,
                  ignore_unknown_values = TRUE
              );

          - id: bq_green_table_tmp
            type: io.kestra.plugin.gcp.bigquery.Query
            sql: |
              CREATE OR REPLACE TABLE `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.{{inputs.taxi}}_tripdata_{{inputs.year}}_{{parent.taskrun.value}}`
              AS
              SELECT
                MD5(CONCAT(
                  COALESCE(CAST(VendorID AS STRING), ""),
                  COALESCE(CAST(lpep_pickup_datetime AS STRING), ""),
                  COALESCE(CAST(lpep_dropoff_datetime AS STRING), ""),
                  COALESCE(CAST(PULocationID AS STRING), ""),
                  COALESCE(CAST(DOLocationID AS STRING), "")
                )) AS unique_row_id,
                "{{inputs.taxi}}_tripdata_{{inputs.year}}-{{parent.taskrun.value}}.csv" AS filename,
                CAST(VendorID AS STRING) AS VendorID,
                lpep_pickup_datetime,
                lpep_dropoff_datetime,
                CAST(store_and_fwd_flag AS STRING) AS store_and_fwd_flag, -- ADDED CAST HERE
                CAST(RatecodeID AS STRING) AS RatecodeID,
                CAST(PULocationID AS STRING) AS PULocationID,
                CAST(DOLocationID AS STRING) AS DOLocationID,
                CAST(passenger_count AS INT64) AS passenger_count,
                CAST(trip_distance AS NUMERIC) AS trip_distance,
                CAST(fare_amount AS NUMERIC) AS fare_amount,
                CAST(extra AS NUMERIC) AS extra,
                CAST(mta_tax AS NUMERIC) AS mta_tax,
                CAST(tip_amount AS NUMERIC) AS tip_amount,
                CAST(tolls_amount AS NUMERIC) AS tolls_amount,
                CAST(ehail_fee AS NUMERIC) AS ehail_fee,
                CAST(improvement_surcharge AS NUMERIC) AS improvement_surcharge,
                CAST(total_amount AS NUMERIC) AS total_amount,
                payment_type,
                CAST(trip_type AS STRING) AS trip_type, -- ALSO ADDED CAST HERE FOR CONSISTENCY
                CAST(congestion_surcharge AS NUMERIC) AS congestion_surcharge
              FROM `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.{{inputs.taxi}}_tripdata_{{inputs.year}}_{{parent.taskrun.value}}_ext`;

          - id: bq_green_merge
            type: io.kestra.plugin.gcp.bigquery.Query
            sql: |
              MERGE INTO `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.green_tripdata` T
              USING `{{kv('GCP_PROJECT_ID')}}.{{kv('GCP_DATASET')}}.{{inputs.taxi}}_tripdata_{{inputs.year}}_{{parent.taskrun.value}}` S
              ON T.unique_row_id = S.unique_row_id
              WHEN NOT MATCHED THEN
                INSERT (unique_row_id, filename, VendorID, lpep_pickup_datetime, lpep_dropoff_datetime, store_and_fwd_flag, RatecodeID, PULocationID, DOLocationID, passenger_count, trip_distance, fare_amount, extra, mta_tax, tip_amount, tolls_amount, ehail_fee, improvement_surcharge, total_amount, payment_type, trip_type, congestion_surcharge)
                VALUES (S.unique_row_id, S.filename, S.VendorID, S.lpep_pickup_datetime, S.lpep_dropoff_datetime, S.store_and_fwd_flag, S.RatecodeID, S.PULocationID, S.DOLocationID, S.passenger_count, S.trip_distance, S.fare_amount, S.extra, S.mta_tax, S.tip_amount, S.tolls_amount, S.ehail_fee, S.improvement_surcharge, S.total_amount, S.payment_type, S.trip_type, S.congestion_surcharge);

  - id: purge_files
    type: io.kestra.plugin.core.storage.PurgeCurrentExecutionFiles

pluginDefaults:
  - type: io.kestra.plugin.gcp
    values:
      serviceAccount: "{{ secret('GCP_CREDS') }}"
      projectId: "{{kv('GCP_PROJECT_ID')}}"
      location: "{{kv('GCP_LOCATION')}}"
      bucket: "{{kv('GCP_BUCKET_NAME')}}"